In [70]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime

In [71]:
canada_rate_file = "Resources/Exchangerates_Canada.csv"
china_rate_file = "Resources/Exchangerates_China.csv"
euro_rate_file = "Resources/Exchangerates_Euro.csv"
hongkong_rate_file = "Resources/Exchangerates_HongKong.csv"
india_rate_file = "Resources/Exchangerates_India.csv"
japan_rate_file = "Resources/Exchangerates_Japan.csv"
korea_rate_file = "Resources/Exchangerates_Korea.csv"
southafrica_rate_file = "Resources/Exchangerates_SouthAfrica.csv"
swiss_rate_file = "Resources/Exchangerates_Swiss.csv"

index_data_file = "Resources/indexData.csv"
info_data_file = "Resources/infoData.csv"

In [72]:
canada_df = pd.read_csv(canada_rate_file)
china_df = pd.read_csv(china_rate_file)
euro_df = pd.read_csv(euro_rate_file)
hongkong_df = pd.read_csv(hongkong_rate_file)
india_df = pd.read_csv(india_rate_file)
japan_df = pd.read_csv(japan_rate_file)
korea_df = pd.read_csv(korea_rate_file)
southafrica_df = pd.read_csv(southafrica_rate_file)
swiss_df = pd.read_csv(swiss_rate_file)

data_df = pd.read_csv(index_data_file)
info_df = pd.read_csv(info_data_file)

In [73]:
info_df

           Region                          Exchange      Index Currency
0   United States           New York Stock Exchange        NYA      USD
1   United States                            NASDAQ       IXIC      USD
2       Hong Kong          Hong Kong Stock Exchange        HSI      HKD
3           China           Shanghai Stock Exchange  000001.SS      CNY
4           Japan              Tokyo Stock Exchange       N225      JPY
5          Europe                          Euronext       N100      EUR
6           China           Shenzhen Stock Exchange  399001.SZ      CNY
7          Canada            Toronto Stock Exchange     GSPTSE      CAD
8           India  National Stock Exchange of India       NSEI      INR
9         Germany          Frankfurt Stock Exchange      GDAXI      EUR
10          Korea                    Korea Exchange       KS11      KRW
11    Switzerland                SIX Swiss Exchange       SSMI      CHF
12         Taiwan             Taiwan Stock Exchange       TWII      TWD
13   South Africa       Johannesburg Stock Exchange    J203.JO      ZAR

In [74]:
data_df

,Index,Date,Open,High,Low,Close,Adj Close,Volume
0,NYA,1965-12-31,528.690002,528.690002,528.690002,528.690002,528.690002,0.0
1,NYA,1966-01-03,527.210022,527.210022,527.210022,527.210022,527.210022,0.0
2,NYA,1966-01-04,527.840027,527.840027,527.840027,527.840027,527.840027,0.0
3,NYA,1966-01-05,531.119995,531.119995,531.119995,531.119995,531.119995,0.0
4,NYA,1966-01-06,532.070007,532.070007,532.070007,532.070007,532.070007,0.0
...,...,...,...,...,...,...,...,...
112452,N100,2021-05-27,1241.119995,1251.910034,1241.119995,1247.069946,1247.069946,379696400.0
112453,N100,2021-05-28,1249.469971,1259.209961,1249.030029,1256.599976,1256.599976,160773400.0
112454,N100,2021-05-31,1256.079956,1258.880005,1248.140015,1248.930054,1248.930054,91173700.0
112455,N100,2021-06-01,1254.609985,1265.660034,1254.609985,1258.579956,1258.579956,155179900.0
112456,N100,2021-06-02,1258.489990,1263.709961,1258.239990,1263.619995,1263.619995,148465000.0

In [75]:
# keep only stock exchange data from year 2000 and later
data_df = data_df.loc[data_df['Date']>= '2000-01-01']

#remove taiwan data as we do not have exchange rates for this stock exchange.
data_df = data_df.loc[data_df['Index']!= 'TWII']

#drop unecessary column
data_df.drop(columns='Adj Close',inplace= True)

# stock exchange data with null values
len(data_df)

65121

In [76]:
data_df.dropna(inplace=True)
len(data_df)

64281

In [77]:
#convert date column string from exchnage rate data frames into date objects to macth data_df

canada_df['Date']= pd.to_datetime(canada_df['Date'])
china_df['Date']= pd.to_datetime(china_df['Date'])
euro_df['Date']= pd.to_datetime(euro_df['Date'])
hongkong_df['Date']= pd.to_datetime(hongkong_df['Date'])
india_df['Date']= pd.to_datetime(india_df['Date'])
japan_df['Date']= pd.to_datetime(japan_df['Date'])
korea_df['Date']= pd.to_datetime(korea_df['Date'])
southafrica_df['Date']= pd.to_datetime(southafrica_df['Date'])
swiss_df['Date']= pd.to_datetime(swiss_df['Date'])

data_df['Date']= pd.to_datetime(data_df['Date'])

In [78]:
#add column for currency type to merge on later
canada_df['Currency']= 'CAD'
china_df['Currency']= 'CNY'
euro_df['Currency']= 'EUR'
hongkong_df['Currency']= 'HKD'
india_df['Currency']= 'INR'
japan_df['Currency']= 'JPY'
korea_df['Currency']= 'KRW'
southafrica_df['Currency']= 'ZAR'
swiss_df['Currency']= 'CHF'

In [79]:
#rename column
canada_df.rename(columns = {'CAD':'exchange_rate'}, inplace = True)
china_df.rename(columns = {'CNY':'exchange_rate'}, inplace = True)
euro_df.rename(columns = {'EUR':'exchange_rate'}, inplace = True)
hongkong_df.rename(columns = {'HKD':'exchange_rate'}, inplace = True)
india_df.rename(columns = {'INR':'exchange_rate'}, inplace = True)
japan_df.rename(columns = {'JPY':'exchange_rate'}, inplace = True)
korea_df.rename(columns = {'KRW':'exchange_rate'}, inplace = True)
southafrica_df.rename(columns = {'ZAR':'exchange_rate'}, inplace = True)
swiss_df.rename(columns = {'CHF':'exchange_rate'}, inplace = True)

In [80]:
#concatenate all exchange rate data frames into one
exchange_rate_df = pd.concat([canada_df, china_df, euro_df, hongkong_df, india_df, japan_df, korea_df, southafrica_df, swiss_df])
exchange_rate_df

           Date  USD exchange_rate Currency
0    2021-09-02    1        1.2615      CAD
1    2021-09-01    1        1.2591      CAD
2    2021-08-31    1        1.2587      CAD
3    2021-08-30    1        1.2598      CAD
4    2021-08-29    1        1.2681      CAD
...         ...  ...           ...      ...
8273 1999-01-08    1        1.3842      CHF
8274 1999-01-07    1        1.3897      CHF
8275 1999-01-06    1        1.3724      CHF
8276 1999-01-05    1        1.3675      CHF
8277 1999-01-04    1        1.3714      CHF

[74502 rows x 4 columns]

In [81]:
exchange_rate_df.dtypes

Date             datetime64[ns]
USD                       int64
exchange_rate            object
Currency                 object
dtype: object

In [82]:
exchange_rate_df['exchange_rate'] = exchange_rate_df['exchange_rate'].replace(',', '',regex=True)

In [83]:
exchange_rate_df['exchange_rate'] = exchange_rate_df['exchange_rate'].astype(float)
exchange_rate_df

           Date  USD  exchange_rate Currency
0    2021-09-02    1         1.2615      CAD
1    2021-09-01    1         1.2591      CAD
2    2021-08-31    1         1.2587      CAD
3    2021-08-30    1         1.2598      CAD
4    2021-08-29    1         1.2681      CAD
...         ...  ...            ...      ...
8273 1999-01-08    1         1.3842      CHF
8274 1999-01-07    1         1.3897      CHF
8275 1999-01-06    1         1.3724      CHF
8276 1999-01-05    1         1.3675      CHF
8277 1999-01-04    1         1.3714      CHF

[74502 rows x 4 columns]

In [84]:
# keep only exchange rate data from year 2000 and later
exchange_rate_df = exchange_rate_df.loc[exchange_rate_df['Date']>= '2000-01-01']


exchange_rate_df

           Date  USD  exchange_rate Currency
0    2021-09-02    1         1.2615      CAD
1    2021-09-01    1         1.2591      CAD
2    2021-08-31    1         1.2587      CAD
3    2021-08-30    1         1.2598      CAD
4    2021-08-29    1         1.2681      CAD
...         ...  ...            ...      ...
7911 2000-01-05    1         1.5490      CHF
7912 2000-01-04    1         1.5578      CHF
7913 2000-01-03    1         1.5900      CHF
7914 2000-01-02    1         1.5978      CHF
7915 2000-01-01    1         1.5978      CHF

[71244 rows x 4 columns]

In [85]:
# merge info df into data df
merge_df = pd.merge(data_df,info_df,on='Index',how='left')
merge_df

,Index,Date,Open,High,Low,Close,Volume,Region,Exchange,Currency
0,NYA,2000-01-03,6762.109863,6762.109863,6762.109863,6762.109863,0.0,United States,New York Stock Exchange,USD
1,NYA,2000-01-04,6543.759766,6543.759766,6543.759766,6543.759766,0.0,United States,New York Stock Exchange,USD
2,NYA,2000-01-05,6567.029785,6567.029785,6567.029785,6567.029785,0.0,United States,New York Stock Exchange,USD
3,NYA,2000-01-06,6635.439941,6635.439941,6635.439941,6635.439941,0.0,United States,New York Stock Exchange,USD
4,NYA,2000-01-07,6792.669922,6792.669922,6792.669922,6792.669922,0.0,United States,New York Stock Exchange,USD
...,...,...,...,...,...,...,...,...,...,...
64276,N100,2021-05-27,1241.119995,1251.910034,1241.119995,1247.069946,379696400.0,Europe,Euronext,EUR
64277,N100,2021-05-28,1249.469971,1259.209961,1249.030029,1256.599976,160773400.0,Europe,Euronext,EUR
64278,N100,2021-05-31,1256.079956,1258.880005,1248.140015,1248.930054,91173700.0,Europe,Euronext,EUR
64279,N100,2021-06-01,1254.609985,1265.660034,1254.609985,1258.579956,155179900.0,Europe,Euronext,EUR
64280,N100,2021-06-02,1258.489990,1263.709961,1258.239990,1263.619995,148465000.0,Europe,Euronext,EUR

In [86]:
stock_exchange_df = pd.merge(merge_df,exchange_rate_df, on=['Currency','Date'], how='left')
stock_exchange_df

,Index,Date,Open,High,Low,Close,Volume,Region,Exchange,Currency,USD,exchange_rate
0,NYA,2000-01-03,6762.109863,6762.109863,6762.109863,6762.109863,0.0,United States,New York Stock Exchange,USD,NaN,NaN
1,NYA,2000-01-04,6543.759766,6543.759766,6543.759766,6543.759766,0.0,United States,New York Stock Exchange,USD,NaN,NaN
2,NYA,2000-01-05,6567.029785,6567.029785,6567.029785,6567.029785,0.0,United States,New York Stock Exchange,USD,NaN,NaN
3,NYA,2000-01-06,6635.439941,6635.439941,6635.439941,6635.439941,0.0,United States,New York Stock Exchange,USD,NaN,NaN
4,NYA,2000-01-07,6792.669922,6792.669922,6792.669922,6792.669922,0.0,United States,New York Stock Exchange,USD,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
64276,N100,2021-05-27,1241.119995,1251.910034,1241.119995,1247.069946,379696400.0,Europe,Euronext,EUR,1.0,0.8198
64277,N100,2021-05-28,1249.469971,1259.209961,1249.030029,1256.599976,160773400.0,Europe,Euronext,EUR,1.0,0.8236
64278,N100,2021-05-31,1256.079956,1258.880005,1248.140015,1248.930054,91173700.0,Europe,Euronext,EUR,1.0,0.8196
64279,N100,2021-06-01,1254.609985,1265.660034,1254.609985,1258.579956,155179900.0,Europe,Euronext,EUR,1.0,0.8180
64280,N100,2021-06-02,1258.489990,1263.709961,1258.239990,1263.619995,148465000.0,Europe,Euronext,EUR,1.0,0.8206

In [87]:
#check for null values
df_null = stock_exchange_df.loc[stock_exchange_df['exchange_rate'].isnull()]
df_null['Index'].unique()

array(['NYA', 'IXIC'], dtype=object)

In [88]:
#There is no exchange rate values for USD sice that is our base currency, solution: fill all null values with 1.
stock_exchange_df['exchange_rate'].fillna(1, inplace = True)
stock_exchange_df['USD'].fillna(1, inplace = True)
stock_exchange_df

,Index,Date,Open,High,Low,Close,Volume,Region,Exchange,Currency,USD,exchange_rate
0,NYA,2000-01-03,6762.109863,6762.109863,6762.109863,6762.109863,0.0,United States,New York Stock Exchange,USD,1.0,1.0000
1,NYA,2000-01-04,6543.759766,6543.759766,6543.759766,6543.759766,0.0,United States,New York Stock Exchange,USD,1.0,1.0000
2,NYA,2000-01-05,6567.029785,6567.029785,6567.029785,6567.029785,0.0,United States,New York Stock Exchange,USD,1.0,1.0000
3,NYA,2000-01-06,6635.439941,6635.439941,6635.439941,6635.439941,0.0,United States,New York Stock Exchange,USD,1.0,1.0000
4,NYA,2000-01-07,6792.669922,6792.669922,6792.669922,6792.669922,0.0,United States,New York Stock Exchange,USD,1.0,1.0000
...,...,...,...,...,...,...,...,...,...,...,...,...
64276,N100,2021-05-27,1241.119995,1251.910034,1241.119995,1247.069946,379696400.0,Europe,Euronext,EUR,1.0,0.8198
64277,N100,2021-05-28,1249.469971,1259.209961,1249.030029,1256.599976,160773400.0,Europe,Euronext,EUR,1.0,0.8236
64278,N100,2021-05-31,1256.079956,1258.880005,1248.140015,1248.930054,91173700.0,Europe,Euronext,EUR,1.0,0.8196
64279,N100,2021-06-01,1254.609985,1265.660034,1254.609985,1258.579956,155179900.0,Europe,Euronext,EUR,1.0,0.8180
64280,N100,2021-06-02,1258.489990,1263.709961,1258.239990,1263.619995,148465000.0,Europe,Euronext,EUR,1.0,0.8206

In [89]:
#Do conversion of columns to USD
stock_exchange_df['Open_USD']=stock_exchange_df['Open']/stock_exchange_df['exchange_rate']
stock_exchange_df['High_USD']=stock_exchange_df['High']/stock_exchange_df['exchange_rate']
stock_exchange_df['Low_USD']=stock_exchange_df['Low']/stock_exchange_df['exchange_rate']
stock_exchange_df['Close_USD']=stock_exchange_df['Close']/stock_exchange_df['exchange_rate']
stock_exchange_df

,Index,Date,Open,High,Low,Close,Volume,Region,Exchange,Currency,USD,exchange_rate,Open_USD,High_USD,Low_USD,Close_USD
0,NYA,2000-01-03,6762.109863,6762.109863,6762.109863,6762.109863,0.0,United States,New York Stock Exchange,USD,1.0,1.0000,6762.109863,6762.109863,6762.109863,6762.109863
1,NYA,2000-01-04,6543.759766,6543.759766,6543.759766,6543.759766,0.0,United States,New York Stock Exchange,USD,1.0,1.0000,6543.759766,6543.759766,6543.759766,6543.759766
2,NYA,2000-01-05,6567.029785,6567.029785,6567.029785,6567.029785,0.0,United States,New York Stock Exchange,USD,1.0,1.0000,6567.029785,6567.029785,6567.029785,6567.029785
3,NYA,2000-01-06,6635.439941,6635.439941,6635.439941,6635.439941,0.0,United States,New York Stock Exchange,USD,1.0,1.0000,6635.439941,6635.439941,6635.439941,6635.439941
4,NYA,2000-01-07,6792.669922,6792.669922,6792.669922,6792.669922,0.0,United States,New York Stock Exchange,USD,1.0,1.0000,6792.669922,6792.669922,6792.669922,6792.669922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64276,N100,2021-05-27,1241.119995,1251.910034,1241.119995,1247.069946,379696400.0,Europe,Euronext,EUR,1.0,0.8198,1513.930221,1527.092015,1513.930221,1521.188029
64277,N100,2021-05-28,1249.469971,1259.209961,1249.030029,1256.599976,160773400.0,Europe,Euronext,EUR,1.0,0.8236,1517.083500,1528.909618,1516.549331,1525.740622
64278,N100,2021-05-31,1256.079956,1258.880005,1248.140015,1248.930054,91173700.0,Europe,Euronext,EUR,1.0,0.8196,1532.552411,1535.968771,1522.864830,1523.828763
64279,N100,2021-06-01,1254.609985,1265.660034,1254.609985,1258.579956,155179900.0,Europe,Euronext,EUR,1.0,0.8180,1533.753038,1547.261655,1533.753038,1538.606303
64280,N100,2021-06-02,1258.489990,1263.709961,1258.239990,1263.619995,148465000.0,Europe,Euronext,EUR,1.0,0.8206,1533.621728,1539.982892,1533.317073,1539.873257

In [90]:
stock_exchange_df['Exchange'].unique()

array(['New York Stock Exchange', 'NASDAQ', 'Hong Kong Stock Exchange',
       'Shanghai Stock Exchange', 'Toronto Stock Exchange',
       'Shenzhen Stock Exchange', 'National Stock Exchange of India',
       'Frankfurt Stock Exchange', 'Korea Exchange', 'SIX Swiss Exchange',
       'Johannesburg Stock Exchange', 'Tokyo Stock Exchange', 'Euronext'],
      dtype=object)

In [91]:
stock_exchange_df= stock_exchange_df.rename(columns={'Index':'Stock_index'})
stock_exchange_df

,Stock_index,Date,Open,High,Low,Close,Volume,Region,Exchange,Currency,USD,exchange_rate,Open_USD,High_USD,Low_USD,Close_USD
0,NYA,2000-01-03,6762.109863,6762.109863,6762.109863,6762.109863,0.0,United States,New York Stock Exchange,USD,1.0,1.0000,6762.109863,6762.109863,6762.109863,6762.109863
1,NYA,2000-01-04,6543.759766,6543.759766,6543.759766,6543.759766,0.0,United States,New York Stock Exchange,USD,1.0,1.0000,6543.759766,6543.759766,6543.759766,6543.759766
2,NYA,2000-01-05,6567.029785,6567.029785,6567.029785,6567.029785,0.0,United States,New York Stock Exchange,USD,1.0,1.0000,6567.029785,6567.029785,6567.029785,6567.029785
3,NYA,2000-01-06,6635.439941,6635.439941,6635.439941,6635.439941,0.0,United States,New York Stock Exchange,USD,1.0,1.0000,6635.439941,6635.439941,6635.439941,6635.439941
4,NYA,2000-01-07,6792.669922,6792.669922,6792.669922,6792.669922,0.0,United States,New York Stock Exchange,USD,1.0,1.0000,6792.669922,6792.669922,6792.669922,6792.669922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
64276,N100,2021-05-27,1241.119995,1251.910034,1241.119995,1247.069946,379696400.0,Europe,Euronext,EUR,1.0,0.8198,1513.930221,1527.092015,1513.930221,1521.188029
64277,N100,2021-05-28,1249.469971,1259.209961,1249.030029,1256.599976,160773400.0,Europe,Euronext,EUR,1.0,0.8236,1517.083500,1528.909618,1516.549331,1525.740622
64278,N100,2021-05-31,1256.079956,1258.880005,1248.140015,1248.930054,91173700.0,Europe,Euronext,EUR,1.0,0.8196,1532.552411,1535.968771,1522.864830,1523.828763
64279,N100,2021-06-01,1254.609985,1265.660034,1254.609985,1258.579956,155179900.0,Europe,Euronext,EUR,1.0,0.8180,1533.753038,1547.261655,1533.753038,1538.606303
64280,N100,2021-06-02,1258.489990,1263.709961,1258.239990,1263.619995,148465000.0,Europe,Euronext,EUR,1.0,0.8206,1533.621728,1539.982892,1533.317073,1539.873257

In [92]:
engine = create_engine('sqlite:///stock_exchange_db.sqlite', echo=True)
sqlite_connection = engine.connect()

2021-09-28 21:33:33,755 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-09-28 21:33:33,756 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:33,757 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-09-28 21:33:33,758 INFO sqlalchemy.engine.base.Engine ()

In [93]:
sqlite_table = "stock_exchange_2"
stock_exchange_df.to_sql(sqlite_table, sqlite_connection, if_exists='replace')

2021-09-28 21:33:33,912 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("stock_exchange_2")
2021-09-28 21:33:33,913 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:33,914 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("stock_exchange_2")
2021-09-28 21:33:33,915 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:33,916 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-09-28 21:33:33,917 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:33,919 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("stock_exchange_2")
2021-09-28 21:33:33,920 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:33,922 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-28 21:33:33,922 INFO sqlalchemy.engine.base.Engine ('stock_exchange_2',)
2021-09-28 21:33:33,923 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("stock_exchange_2")
2021-09-28 21:33:33,924 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:33,925 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("stock_exchange_2")
2021-09-28 21:33:33,925 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:33,926 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-28 21:33:33,926 INFO sqlalchemy.engine.base.Engine ('stock_exchange_2',)
2021-09-28 21:33:33,928 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_exchange_2")
2021-09-28 21:33:33,929 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:33,930 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_stock_exchange_2_index")
2021-09-28 21:33:33,930 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:33,932 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_exchange_2")
2021-09-28 21:33:33,932 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:33,934 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_stock_exchange_2_index")
2021-09-28 21:33:33,935 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:33,937 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-28 21:33:33,938 INFO sqlalchemy.engine.base.Engine ('stock_exchange_2',)
2021-09-28 21:33:33,942 INFO sqlalchemy.engine.base.Engine
DROP TABLE stock_exchange_2
2021-09-28 21:33:33,943 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:35,421 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-28 21:33:35,424 INFO sqlalchemy.engine.base.Engine
CREATE TABLE stock_exchange_2 (
	"index" BIGINT,
	"Stock_index" TEXT,
	"Date" DATETIME,
	"Open" FLOAT,
	"High" FLOAT,
	"Low" FLOAT,
	"Close" FLOAT,
	"Volume" FLOAT,
	"Region" TEXT,
	"Exchange" TEXT,
	"Currency" TEXT,
	"USD" FLOAT,
	exchange_rate FLOAT,
	"Open_USD" FLOAT,
	"High_USD" FLOAT,
	"Low_USD" FLOAT,
	"Close_USD" FLOAT
)


2021-09-28 21:33:35,424 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:35,552 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-28 21:33:35,553 INFO sqlalchemy.engine.base.Engine CREATE INDEX ix_stock_exchange_2_index ON stock_exchange_2 ("index")
2021-09-28 21:33:35,553 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:35,686 INFO sqlalchemy.engine.base.Engine COMMIT
2021-09-28 21:33:35,792 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-09-28 21:33:37,012 INFO sqlalchemy.engine.base.Engine INSERT INTO stock_exchange_2 ("index", "Stock_index", "Date", "Open", "High", "Low", "Close", "Volume", "Region", "Exchange", "Currency", "USD", exchange_rate, "Open_USD", "High_USD", "Low_USD", "Close_USD") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-09-28 21:33:37,014 INFO sqlalchemy.engine.base.Engine ((0, 'NYA', '2000-01-03 00:00:00.000000', 6762.109863, 6762.109863, 6762.109863, 6762.109863, 0.0, 'United States', 'New York Stock Exchange', 'USD', 1.0, 1.0, 6762.109863, 6762.109863, 6762.109863, 6762.109863), (1, 'NYA', '2000-01-04 00:00:00.000000', 6543.759765999999, 6543.759765999999, 6543.759765999999, 6543.759765999999, 0.0, 'United States', 'New York Stock Exchange', 'USD', 1.0, 1.0, 6543.759765999999, 6543.759765999999, 6543.759765999999, 6543.759765999999), (2, 'NYA', '2000-01-05 00:00:00.000000', 6567.029785, 6567.029785, 6567.029785, 6567.029785, 0.0, 'United States', 'New York Stock Exchange', 'USD', 1.0, 1.0, 6567.029785, 6567.029785, 6567.029785, 6567.029785), (3, 'NYA', '2000-01-06 00:00:00.000000', 6635.439941, 6635.439941, 6635.439941, 6635.439941, 0.0, 'United States', 'New York Stock Exchange', 'USD', 1.0, 1.0, 6635.439941, 6635.439941, 6635.439941, 6635.439941), (4, 'NYA', '2000-01-07 00:00:00.000000', 6792.669922, 6792.669922, 6792.669922, 6792.669922, 0.0, 'United States', 'New York Stock Exchange', 'USD', 1.0, 1.0, 6792.669922, 6792.669922, 6792.669922, 6792.669922), (5, 'NYA', '2000-01-10 00:00:00.000000', 6838.450195, 6838.450195, 6838.450195, 6838.450195, 0.0, 'United States', 'New York Stock Exchange', 'USD', 1.0, 1.0, 6838.450195, 6838.450195, 6838.450195, 6838.450195), (6, 'NYA', '2000-01-11 00:00:00.000000', 6774.47998, 6774.47998, 6774.47998, 6774.47998, 0.0, 'United States', 'New York Stock Exchange', 'USD', 1.0, 1.0, 6774.47998, 6774.47998, 6774.47998, 6774.47998), (7, 'NYA', '2000-01-12 00:00:00.000000', 6766.549805, 6766.549805, 6766.549805, 6766.549805, 0.0, 'United States', 'New York Stock Exchange', 'USD', 1.0, 1.0, 6766.549805, 6766.549805, 6766.549805, 6766.549805)  ... displaying 10 of 64281 total bound parameter sets ...  (64279, 'N100', '2021-06-01 00:00:00.000000', 1254.609985, 1265.660034, 1254.609985, 1258.579956, 155179900.0, 'Europe', 'Euronext', 'EUR', 1.0, 0.818, 1533.7530378973106, 1547.2616552567238, 1533.7530378973106, 1538.6063031784843), (64280, 'N100', '2021-06-02 00:00:00.000000', 1258.48999, 1263.709961, 1258.23999, 1263.619995, 148465000.0, 'Europe', 'Euronext', 'EUR', 1.0, 0.8206, 1533.6217280038995, 1539.9828917864977, 1533.3170728735072, 1539.8732573726543))
2021-09-28 21:33:37,688 INFO sqlalchemy.engine.base.Engine COMMIT

In [94]:
sqlite_connection.close()

In [95]:
import os
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy.ext.automap import automap_base

In [96]:
engine = create_engine('sqlite:///stock_exchange_db.sqlite', echo=True)

In [97]:
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

2021-09-28 21:33:38,551 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2021-09-28 21:33:38,552 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,553 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2021-09-28 21:33:38,553 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,554 INFO sqlalchemy.engine.base.Engine SELECT name FROM sqlite_master WHERE type='table' ORDER BY name
2021-09-28 21:33:38,556 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,557 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("stock_exchange")
2021-09-28 21:33:38,558 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,560 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-28 21:33:38,562 INFO sqlalchemy.engine.base.Engine ('stock_exchange',)
2021-09-28 21:33:38,563 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("stock_exchange")
2021-09-28 21:33:38,563 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,565 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("stock_exchange")
2021-09-28 21:33:38,565 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,566 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-28 21:33:38,566 INFO sqlalchemy.engine.base.Engine ('stock_exchange',)
2021-09-28 21:33:38,568 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_exchange")
2021-09-28 21:33:38,568 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,571 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_stock_exchange_index")
2021-09-28 21:33:38,572 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,574 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_exchange")
2021-09-28 21:33:38,575 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,577 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_stock_exchange_index")
2021-09-28 21:33:38,578 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,580 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("sqlite_autoindex_stock_exchange_1")
2021-09-28 21:33:38,582 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,584 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-28 21:33:38,585 INFO sqlalchemy.engine.base.Engine ('stock_exchange',)
2021-09-28 21:33:38,588 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_xinfo("stock_exchange_2")
2021-09-28 21:33:38,592 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,597 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-28 21:33:38,601 INFO sqlalchemy.engine.base.Engine ('stock_exchange_2',)
2021-09-28 21:33:38,604 INFO sqlalchemy.engine.base.Engine PRAGMA main.foreign_key_list("stock_exchange_2")
2021-09-28 21:33:38,606 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,607 INFO sqlalchemy.engine.base.Engine PRAGMA temp.foreign_key_list("stock_exchange_2")
2021-09-28 21:33:38,608 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,609 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-28 21:33:38,610 INFO sqlalchemy.engine.base.Engine ('stock_exchange_2',)
2021-09-28 21:33:38,611 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_exchange_2")
2021-09-28 21:33:38,612 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,614 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_stock_exchange_2_index")
2021-09-28 21:33:38,615 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,618 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_list("stock_exchange_2")
2021-09-28 21:33:38,619 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,621 INFO sqlalchemy.engine.base.Engine PRAGMA main.index_info("ix_stock_exchange_2_index")
2021-09-28 21:33:38,622 INFO sqlalchemy.engine.base.Engine ()
2021-09-28 21:33:38,623 INFO sqlalchemy.engine.base.Engine SELECT sql FROM  (SELECT * FROM sqlite_master UNION ALL   SELECT * FROM sqlite_temp_master) WHERE name = ? AND type = 'table'
2021-09-28 21:33:38,624 INFO sqlalchemy.engine.base.Engine ('stock_exchange_2',)

In [98]:
print(Base.classes.keys())

['stock_exchange']